<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Settings</title>
		{% include 'bootstrap' %}
		{% load static %}
		<style>
			.profile-pic{
				max-width: 200px;
				max-height:200px;
				margin: 0 auto;
				border-radius: 50%;
			}
			.btn-warning{
				background-color: #c7d6ed;
			}
		</style>
	</head>
	<body>
		{% include 'navbar.html' %}
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body">
					<a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Back to Home</a>
					<hr>
					<h3 style="text-align: center">Account Settings</h3>
					<hr>
					<img class="profile-pic" src="{{request.user.userprofile.profile_picture.url}}" >
				</div>
			</div>
			<div class="col-md-9">
				<div class="card card-body">
					<form method="POST" action="" enctype="multipart/form-data">
						{% csrf_token %}
						{{form.as_p}}
					<input class="btn btn-primary" type="submit" name="update" value="Update">
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
