<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">EasyFind</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="/restaurants/">Restaurants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/flights/">Travel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/save_res/">Saved Restaurants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/save_flight/">Saved Flights</a>
      </li>
      {% endif %}
    </ul>
    {% if user.is_authenticated %}
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="float: right; color: white"> User ID: {{request.user}} </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/settings/">Settings</a>
          <a class="dropdown-item" href="/logout/">Log Out</a>
        </div>
      </li>
    </ul>
    {% endif %}
  </div>
</nav>
<script>
  window.onscroll = scrollShowNav;
  let navEle = document.getElementsByTagName("nav")[0];
  let stickyTop = navEle.offsetTop;
  function scrollShowNav() {
    if (window.pageYOffset >= stickyTop) {
      navEle.classList.add("fixed");
    } else {
      console.log("WOW");
      navEle.classList.remove("fixed");
    }
  }
</script>
